<div class="block-login-form container-fluid">

    <div class="row">

        <div class="col-sm-7 col-md-7">

            <div class="block-login-form__login-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-title" ng-bind-html="'login.form.title' | translate"></div>
                        </div>
                    </div>
                </div>

                <iframe ng-src="{{trustSrc(login_url)}}"
                        class="lazyload iframe-loading"
                        ng-if="showIframe"
                        name="iframeLogin"
                        id="iframeLogin"
                        frameborder="0"></iframe>

            </div>
        </div>

        <div class="col-sm-5 col-md-5  block-login-form__register-container">

            <div class="cta-block-button red">
                <p class="cta-block-button__text ng-binding" ng-bind-html="'login.cta.title' | translate" ></p>
                <div class="cta-block-button__wrapper">
                    <a ui-sref="top.sign_up_page"
                       class="btn btn-primary cta-block-button__button"
                       ng-bind-html="'login.cta.register' | translate"></a>
                </div>

                <div class="cta-block-button__white-box"></div>
            </div>
        </div>
    </div>
</div>
